<div class="wrapper">
	<div class="col-xs-4 animated fadeIn animation-delay-2">
		<h1 class="band">{{blocks[0].title}}</h1>
		<img src="{{image[0]}}" width="327" height="191">
		<ul class="items_feed">
			<li ng-class="{'current bounceIn animated': isSelected(item)}" ng-click="setSelection(item, 0)" ng-repeat="item in blocks[0].items">{{item.title}}</li>		
		</ul>
		<div ng-if="blocks[1].foot_img">
			<img src="{{blocks[0].foot_img}}" width="327" height="191">
		</div>
	</div>
	<div class="col-xs-4 contents_block animated fadeIn animation-delay-7 current-block-{{currentContentBlock}}">
		<div class="col-xs-12">
				<div class="col-xs-6" ng-bind-html="currentContent[0]">
				</div>
				<div class="col-xs-6" ng-bind-html="currentContent[1]">
				</div>
		</div>			
	</div>
	<div class="col-xs-4 animated fadeIn animation-delay-4">
		<h1 class="band">{{blocks[1].title}}</h1>
		<img  src="{{image[1]}}"  width="327" height="191">
		<ul class="items_feed_right">
			<li ng-class="{'current bounceIn animated' : isSelected(item)}" ng-click="setSelection(item, 1)" ng-repeat="item in blocks[1].items">{{item.title}}</li>
		</ul>
		<div ng-if="blocks[1].foot_img">
			<img src="{{blocks[1].foot_img}}" width="327" height="191">
		</div>
	</div>
</div><!--end wrapper-->