<style>
/*	.overview-chart .chart-group
	{
		position: absolute;
	}
	.overview-chart .bar-chart
	{
		border: 0;
		height: 20px;
		margin-bottom: 2px;
		background: #453D3F;
	}
	.overview-chart .bar-chart .bar-chart-label
	{
		color : #fff;
		padding-top: 2px;
		padding-right: 4px;
	}

	 
	.overview-chart .software-data
	{
		width: 300px;
		right: 100px;
		bottom: 0;
	}
	.overview-chart .software-data .chart-group
	{
		right: 0;
		bottom: 0;
	}

	.overview-chart .e-commerce{
		bottom: 0;
		left : 120px;
	}
	.overview-chart .e-commerce .chart-group
	{
		left : -100px;
	}

	.overview-chart .broadcast{
		left: 160px;
    	bottom: 140px;
	}
	.overview-chart .broadcast .chart-group
	{
		left : -100px;
	}

	.overview-chart .advertising{
		left: 290px;
   		 bottom: 196px;
	}
	.overview-chart .advertising .chart-group
	{
		left: -89px;
    	top: -65px;
	}

	.overview-chart .e-health{
		left: 401px;
    	bottom: 167px;
	}
	.overview-chart .e-health .chart-group
	{
		left: 23px;
   		top: -81px;
	}

	.overview-chart .games{
		left: 448px;
    	bottom: 101px;
	}
	.overview-chart .games .chart-group
	{
		left: 61px;
    	top: -72px;
	}

*/

	.main-chart, .sub-chart
	{
		pointer-events : none;
	}
	.main-chart svg
	{
		pointer-events : auto;
	}
	.ct-label
	{
		font-size : 12px;
		color : #000;
		fill : #000;
	}
	.double-chart
	{
		left: 120px;
	}
</style>
<div class="wrapper">
	 			
	 			<div class="container-fluid">
		 			<div class="col-xs-4">
		 				<h1>Creative & Digital</h1>
		 				<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
		 			</div>
		 			<div class="col-xs-8 overview-chart" style="position: relative; height: 400px;">

		 				<div class="double-chart" double-donute-chart></div>
		 				<!--<div class="chart-group software-data">
		 						<div class="chart-group" style="width : 100px;">
		 							<div bar-chart data-all="2456"  data-part="165" data-label="165"></div>
		 							<div bar-chart data-all="2456" data-part="1535" data-label="1535"></div>
		 							<div bar-chart data-all="2456" data-part="954" data-label="954"></div>
		 							<span>Software & data</span>
		 						</div>
		 						<div class="bounceIn animated animation-delay-{{ 5 | randomize}}" donute-chart width="200" height="200" series="2456" labels="2456"   stroke="green"></div>
		 				</div> 

		 				<div class="chart-group e-commerce">
		 						<div class="chart-group" style="width : 100px;">
		 							<div bar-chart data-all="860" data-part="131" data-label="131" data-barcolor="#2375B6"></div>
		 							<div bar-chart data-all="860" data-part="553" data-label="553" data-barcolor="#2375B6"></div>
		 							<div bar-chart data-all="860" data-part="176" data-label="176" data-barcolor="#2375B6"></div>
		 							<span>E-commerce</span>
		 						</div>
		 						<div class="bounceIn animated animation-delay-{{ 5 | randomize}}" donute-chart width="140" height="140" series="860" labels="860"   stroke="#2375B6"></div>
		 				</div> 

		 				<div class="chart-group broadcast">
		 						<div class="chart-group" style="width : 100px;">
		 							<div bar-chart data-all="810" data-part="54" data-label="54" data-barcolor="#05AD9C"></div>
		 							<div bar-chart data-all="810" data-part="462" data-label="462" data-barcolor="#05AD9C"></div>
		 							<div bar-chart data-all="810" data-part="294" data-label="294" data-barcolor="#05AD9C"></div>
		 							<span>Broadcast & Media Production</span>
		 						</div>
		 						<div class="bounceIn animated animation-delay-{{ 5 | randomize}}" donute-chart width="140" height="140" series="810" labels="810"   stroke="#05AD9C"></div>
		 				</div> 

		 				<div class="chart-group advertising">
		 						<div class="chart-group" style="width : 100px;">
		 							<div bar-chart data-all="752" data-part="30" data-label="30" data-barcolor="#8A33B9"></div>
		 							<div bar-chart data-all="752" data-part="427" data-label="427" data-barcolor="#8A33B9"></div>
		 							<div bar-chart data-all="752" data-part="295" data-label="295" data-barcolor="#8A33B9"></div>
		 							<span>Advertising & Digital Media</span>
		 						</div>
		 						<div class="bounceIn animated animation-delay-{{ 5 | randomize}}" donute-chart width="120" height="120" series="759" labels="752" stroke="#552072"></div>
		 				</div> 

		 				<div class="chart-group e-health">
		 						<div class="chart-group" style="width : 100px;">
		 							<div bar-chart data-all="255" data-part="26" data-label="26" data-barcolor="#695EED"></div>
		 							<div bar-chart data-all="255" data-part="169" data-label="169" data-barcolor="#695EED"></div>
		 							<div bar-chart data-all="255" data-part="60" data-label="60" data-barcolor="#695EED"></div>
		 							<span>E-health</span>
		 						</div>
		 						<div class="bounceIn animated animation-delay-{{ 5 | randomize}}" donute-chart width="100" height="100" series="759" labels="255" stroke="#695EED"></div>
		 				</div> 

		 				<div class="chart-group games">
		 						<div class="chart-group" style="width : 100px;">
		 							<div bar-chart data-all="142" data-part="17" data-label="26" data-barcolor="#74D451"></div>
		 							<div bar-chart data-all="142" data-part="71" data-label="169" data-barcolor="#74D451"></div>
		 							<div bar-chart data-all="142" data-part="54" data-label="60" data-barcolor="#74D451"></div>
		 							<span>Games & AR</span>
		 						</div>
		 						<div class="bounceIn animated animation-delay-{{ 5 | randomize}}" donute-chart width="80" height="80" series="142" labels="142" stroke="#74D451"></div>
		 				</div> -->
		 				

		 			</div>
		 		</div>
		 		<div class="container-fluid">
			 		<div class="col-xs-4">
			 			1
			 		</div>
			 		<div class="col-xs-4">
			 			1
			 		</div>
			 		<div class="col-xs-4">
			 			1
			 		</div>
			 	</div>
		 	
		

</div><!--end wrapper-->
