<style>
/*	.overview-chart .chart-group
	{
		position: absolute;
	}
	.overview-chart .bar-chart
	{
		border: 0;
		height: 20px;
		margin-bottom: 2px;
		background: #453D3F;
	}
	.overview-chart .bar-chart .bar-chart-label
	{
		color : #fff;
		padding-top: 2px;
		padding-right: 4px;
	}

	 
	.overview-chart .software-data
	{
		width: 300px;
		right: 100px;
		bottom: 0;
	}
	.overview-chart .software-data .chart-group
	{
		right: 0;
		bottom: 0;
	}

	.overview-chart .e-commerce{
		bottom: 0;
		left : 120px;
	}
	.overview-chart .e-commerce .chart-group
	{
		left : -100px;
	}

	.overview-chart .broadcast{
		left: 160px;
    	bottom: 140px;
	}
	.overview-chart .broadcast .chart-group
	{
		left : -100px;
	}

	.overview-chart .advertising{
		left: 290px;
   		 bottom: 196px;
	}
	.overview-chart .advertising .chart-group
	{
		left: -89px;
    	top: -65px;
	}

	.overview-chart .e-health{
		left: 401px;
    	bottom: 167px;
	}
	.overview-chart .e-health .chart-group
	{
		left: 23px;
   		top: -81px;
	}

	.overview-chart .games{
		left: 448px;
    	bottom: 101px;
	}
	.overview-chart .games .chart-group
	{
		left: 61px;
    	top: -72px;
	}

*/

	.main-chart, .sub-chart
	{
		pointer-events : none;
	}
	.main-chart svg
	{
		pointer-events : auto;
	}
	.ct-label
	{
		font-size : 12px;
		color : #000;
		fill : #000;
	}
	.double-chart
	{
		top : -20px;
		left: 60px;
		height : 400px;
	}


	/*color fot chart*/
	.main-chart .ct-series-b .ct-slice-donut
	{
		stroke : #186781;
	}
	.main-chart .ct-series-c .ct-slice-donut
	{
		stroke : #1ECCFF;
	}
	.main-chart .ct-series-a .ct-slice-donut
	{
		stroke : #18A3CC;
	}
	.main-chart .ct-series-f .ct-slice-donut
	{
		stroke : #0D5166;
	}
	.main-chart .ct-series-e .ct-slice-donut
	{
		stroke : #0F6681;
	}
	.main-chart .ct-series-d .ct-slice-donut
	{
		stroke : #78E0FF;
	}


	.sub-chart .ct-series-b .ct-slice-donut
	{
		stroke : #B16B00;
	}
	.sub-chart .ct-series-c .ct-slice-donut
	{
		stroke : #CD7A00;
	}
	.sub-chart .ct-series-a .ct-slice-donut
	{
		stroke : #E08400;
	}
	.sub-chart .ct-series-f .ct-slice-donut
	{
		stroke : #F08F02;
	}
	.main-chart .ct-series-e .ct-slice-donut
	{
		stroke : #0F6681;
	}
	.main-chart .ct-series-d .ct-slice-donut
	{
		stroke : #78E0FF;
	}


	.main-chart svg text
	{
		font-weight: bold;
	}
	.main-chart svg text tspan
	{
		font-weight: normal;
	}
	.main-chart svg .ct-label
	{
		font-size : 13px;
	}


	.overview-bar-charts .bar-chart{
		border : 0;
		background: #887D7D;
		margin-bottom: 10px;

	}
	.overview-bar-charts .bar-chart .bar{
		background-color: #18A3CC!important;
	}
	.overview-bar-charts .bar-chart .bar-chart-label
	{
		right : 4px;
		top : 4px;
	}

	.overview-bar-charts .bar-chart .left-label
	{
		position: absolute;
		z-index: 1;
		left: 4px;
		color : #FFF;
	}

</style>
<div class="wrapper">
	 			
	 			<div class="container-fluid">
		 			<div class="col-xs-4 block">
		 				<div>
		 					<h1 class="band">Turnover:</h1>	
		 					<div style="">
		 						<div line-chart data-data="{{turnover.data}}" data-labels="{{turnover.labels}}"></div>
		 					</div>
		 				</div>	
		 				<div>
		 					<h1 class="band">Company Breakdown:</h1>
		 					<div class="overview-bar-charts" style="padding : 10px 10px">	
			 					<div ng-repeat="item in currentChartData.company_breakdown" bar-chart data-part="{{item.num}}" data-label="{{item.num}}" data-all="700" data-barcolor="red" data-title="{{item.type}}"></div>
			 					 
			 				</div>
		 				</div>
		 				<div>
		 					<h1 class="band">E-health innovation:</h1>
		 					<div class="overview-bar-charts" style="padding : 10px 10px">
		 						<div ng-repeat="item in currentChartData.sector_data" bar-chart data-part="{{item.num}}" data-label="{{item.num}}" data-leftlabel="{{item.type}}" data-all="{{item.total}}" data-barcolor="blue" ></div>
		 						 
		 					</div>	
		 				</div>			 				
		 				<div style="height : 150px;">
		 					<h1 class="band">Geo tag data:</h1>
		 					 MAP
		 					 {{currentChartData.title}}
		 				</div>	
		 			</div>
		 			<div class="col-xs-8 overview-chart block" style="position: relative;">
		 				 <div style=" background : #eeeeee;">
			 				<h1 class="band">{{currentChartData.title}}</h1> 
			 				
			 				<div class="double-chart" double-donute-chart></div>
			 				<div style="padding : 5px;">
			 					<h3>Description:</h3>
			 					<p>Lorem isum dolor
			 					Lorem isum dolorLorem isum dolorLorem isum dolorLorem isum dolorLorem isum dolorLorem isum dolor</p>
			 				</div>
		 				 </div>
		 			</div>
		 		</div>	 	

</div><!--end wrapper-->
